@keyframes appearTop {
  0% {
    transform: translateY(350px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 10;
  }
}
@keyframes appearBottom {
  0% {
    transform: translateY(-350px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 10;
  }
}

.list-item {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  position: absolute;
  transform: translateY(-350px);

  &.initial {
    transform: translateY(0);
  }

  &.income {
    background-color: rgb(16, 218, 2);
  }

  &.spent {
    background-color: rgb(216, 11, 11);
  }

  &.currency {
    background-color: rgb(186, 156, 4);
  }

  &.weather {
    background-color: skyblue;
  }

  &__appear-top {
    animation: appearTop 300ms ease-in forwards;
  }

  &__appear-bottom {
    animation: appearBottom 300ms ease-in forwards;
  }

  &__hide-top {
    animation: appearTop 300ms ease-in backwards;
  }

  &__hide-bottom {
    animation: appearBottom 300ms ease-in backwards;
  }
}
